{% extends 'base.html' %}
{% block content %}
<div class="text-white">
    <div class="inline-flex bg-slate-900 w-full p-5 text-base font-extrabold justify-between content-center h-1/6">
        <h1>Jatama Management App</h1>
        <h3 class="font-bold">Your username: {{ name }}</h3>
        <div class="inline-flex">
            <a href="http://127.0.0.1:8000/" class="me-5">Home<a>
            <a href="" class="me-5">Inventory</a>
                <a href="{% url 'logout' %}" class="button bg-slate-500 hover:bg-slate-700 text-white font-bold rounded py-2 px-4">
                    <button>
                        Logout
                    </button>
                </a> 
            </div>
</div>
<!--
<div class="my-5 max-w-5xl mx-auto bg-slate-500 rounded-xl shadow-md overflow-hidden p-5 justify-center text-center">
    <h3 class="font-bold">Your username: {{ name }}</h3>
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 border-solid">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table id="product_table" class="min-w-full text-center text-sm font-light border-b-black">
              <thead
                class="border-b bg-slate-800 font-medium dark:border-black dark:bg-slate-900">
                <tr>
                  <th scope="col" class=" px-6 py-4">Name</th>
                  <th scope="col" class=" px-6 py-4">Stock</th>
                  <th scope="col" class=" px-6 py-4">Price</th>
                  <th scope="col" class=" px-6 py-4">Detail</th>
                  <th scope="col" class=" px-6 py-4">Option</th>
                </tr>
              </thead>
              <tbody>
                  {% for product in products %}
                  <tr class="border-b dark:border-black">
                        <td class="whitespace-nowrap  px-6 py-4 font-medium">
                            <p>{{ product.name }}</p>  
                        </td>
                      <td class="whitespace-nowrap  px-6 py-4">{{ product.stock }}</td>
                      <td class="whitespace-nowrap  px-6 py-4">{{ product.price }}</td>
                      <td class="whitespace-nowrap  px-6 py-4">{{ product.detail }}</td>
                      <td>
                          <div class="justify-between">
                              <a href="{% url 'delete_product' product.pk %}">
                                  <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                                Delete
                            </button>
                        </a>
                        <a href="{% url 'edit_product' product.pk %}">
                        <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                            Edit
                            </button>
                        </a>
                    </div>
                </td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        </div>
      </div>
    <br />
    <a href="{% url 'add_inventory' %}">
        <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
            Add New Product
        </button>
    </a>
    <button id="openFormModal" class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">Add New Product with AJAX</button>
</div>
-->
<div class="text-center my-5 max-w-md mx-auto bg-slate-500 rounded-xl shadow-md p-10 justify-center w-4/5">
    <div>
        <a href="{% url 'add_inventory' %}" class="p-10">
            <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                Add New Product
            </button>   
        </a>
    </div>
    <div>
        <a href="{% url 'delete_all' %}" class="p-10">
            <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                Reset All Product
            </button>   
        </a>
    </div>
    <button id="openFormModal" class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">Add New Product with AJAX</button>
</div>

<div class="text-center my-5 max-w-md mx-auto bg-slate-500 rounded-xl shadow-md p-5 justify-center w-4/5">
    <p class="text-xl font-bold">Available Product</p>
    <div class="overflow-x-auto">
        {% for product in products %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-800 m-10">
            <img src="https://cdn.pixabay.com/photo/2014/06/03/19/38/road-sign-361514_960_720.png" alt="">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{ product.name }}</div>
              <p>Stock  : {{ product.stock }}</p>
              <p>Harga  : {{ product.price }}</p>
              <p>Detail : {{ product.detail }}</p>
            </div>
        </div>
        <div class="justify-between">
            <a href="{% url 'delete_product' product.pk %}">
                <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                   Delete
                </button>
            </a>
            <a href="{% url 'edit_product' product.pk %}">
                <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                    Edit
                    </button>
                </a>
        </div>
        {% endfor %}
    </div>   
</div>

<div id="formModal" class="hidden modal fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex items-center justify-center">
    <div class="modal-content bg-slate-800 w-1/2 p-4 rounded-xl shadow-lg">
      <!-- Modal content goes here -->
      <div class="modal-header">
          <button id="closeFormModal" class="modal-close">
            &times;
          </button>
        <h1 class="text-2xl font-semibold">Add Product</h1>
      </div>
      <div class="modal-body">
        <!-- Form goes here -->
        <form id="myForm" class="space-y-4">
          <div class="form-group">
            <p>Name: </p>
            <input type="text" id="name" name="name" class="form-input text-slate-800">
        </div>
        <p>Stock: </p>
        <div class="form-group">
            <input type="number" id="stock" name="stock" class="form-input text-slate-800">
        </div>
        <p>Price: </p>
        <div class="form-group">
            <input type="number" id="price" name="price"class="form-input text-slate-800">
        </div>
        <p>Detail: </p>
          <div class="form-group">
            <input type="text" id="detail" name="detail" class="form-input text-slate-800">
          </div>
          <!-- Add more form fields as needed -->
        </form>
      </div>
      <div class="modal-footer my-5">
        <button id="submitForm" class="bg-slate-500 hover:bg-blue-700 font-bold rounded py-2 px-4">Submit</button>
        <button id="cancelForm" class="bg-slate-500 hover:bg-blue-700 font-bold rounded py-2 px-4">Cancel</button>
      </div>
    </div>
  </div>

<script>
    const formModal = document.getElementById("formModal");
    const openFormModalButton = document.getElementById("openFormModal");
    const closeFormModalButton = document.getElementById("closeFormModal");
    const submitFormButton = document.getElementById("submitForm");
    const cancelFormButton = document.getElementById("cancelForm");
    const form = document.getElementById("myForm");

    // Function to open the form modal
    function openFormModal() {
    formModal.classList.remove("hidden");
    }

    // Function to close the form modal
    function closeFormModal() {
    formModal.classList.add("hidden");
    }

    // Function to handle form submission
    function handleSubmit(event) {
        event.preventDefault();
        // Your form submission logic here
        // You can use the form data with `new FormData(form)` or send it via AJAX
        fetch("{% url 'add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#myForm'))
        }).then(refreshProducts).then(closeFormModal)
        document.getElementById("myForm").reset()
        document.getElementById("submitForm").onclick = addProduct
        closeFormModal(); // Close the modal after submission
        return false
    }

    // Add click event listeners to open and close the form modal
    openFormModalButton.addEventListener("click", openFormModal);
    closeFormModalButton.addEventListener("click", closeFormModal);
    submitFormButton.addEventListener("click", handleSubmit);
    cancelFormButton.addEventListener("click", closeFormModal);  
    
    async function getProducts() {
        return fetch("{% url 'get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<thead
                class="border-b bg-slate-800 font-medium dark:border-black dark:bg-slate-900">
                <tr>
                  <th scope="col" class=" px-6 py-4">Name</th>
                  <th scope="col" class=" px-6 py-4">Stock</th>
                  <th scope="col" class=" px-6 py-4">Price</th>
                  <th scope="col" class=" px-6 py-4">Detail</th>
                  <th scope="col" class=" px-6 py-4">Option</th>
                </tr>
              </thead>`
        
              products.forEach((item) => {
            htmlString += `\n
            <tr class="border-b dark:border-black">
                        <td class="whitespace-nowrap  px-6 py-4 font-medium">
                            <p>${ item.fields.name }</p>  
                        </td>
                      <td class="whitespace-nowrap  px-6 py-4">${ item.fields.stock }</td>
                      <td class="whitespace-nowrap  px-6 py-4">${ item.fields.price }</td>
                      <td class="whitespace-nowrap  px-6 py-4">${ item.fields.detail }</td>
                      <td>
                          <div class="justify-between">
                              <a href="">
                                  <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                                Delete
                            </button>
                        </a>
                        <a href="">
                        <button class="bg-slate-800 hover:bg-blue-700 font-bold rounded py-2 px-4">
                            Edit
                            </button>
                        </a>
                    </div>
                </td>        
            </tr>
            ` 
        })
        document.getElementById("product_table").innerHTML = htmlString
    }
    refreshProducts()
</script>

{% endblock content %}