{% extends 'base.html' %}
{% block meta %}
<title>Login to your Account - Jatama Management App</title>
{% endblock meta %}

{% block content %}
<div class = "bg-slate-300 max-w-md mx-auto rounded-xl shadow-md overflow-hidden p-10 justify-center text-center">
    <h1 class="font-bold text-xl my-5">Jatama Management App</h1>
    <p class="font-bold text-base my-5">Login to your Account</p>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <h5 class="font-bold">Username</h5>
            <div>
                <input type="text" name="username" placeholder="Username" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
            </div>
        </div>
        <div class="my-5">
            <h5 class="font-bold">Password</h5>
            <div>
                <input type="password" name="password" placeholder="Password" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
            </div>
        </div>
        <div class="button bg-slate-500 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded m-10">
            <input class="btn login_btn" type="submit" value="Login">
        </div>
    </form>

    Don't have an account yet? <a href="{% url 'register' %}">Register Now</a>

    {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
    {% endif %}
</div>
{% endblock content %}

