{% extends 'base.html' %}
{% block content %}
<div class="nav-bar">
    <h1>Jatama Management App</h1>
    <a href=""><p>Home</p></a>
    <a href="inventory/"><p>Inventory</p></a>
</div>
<div class="content">
    <h3>Created by</h3>
    <p>Nama : Gilang Fajar Pratama</p>
    <p>NPM  : 2206082631</p>
    <p>Kelas PBP : D</p>
</div>

<h3>Welcome {{ name }}</h3>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'logout' %}">
    <button>
        Logout
    </button>
</a>    
{% endblock content %}